
.navbar {
    overflow: auto;
    display:flex;
    justify-content:flex-start;
    position: sticky; 
    top: 0;
    left: 0;
}

.nav-item {
    margin: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    min-width: 100px;
    height:100px;
    text-align:center;
    border:  0.5px DarkSlateGrey dotted;
   
}

.nav-item img {
    position: absolute;
    width: 60%;
    height: 60%;
}

.container {
    font-family: 'Trebuchet MS',serif;
    padding: 2em;
    padding-top: 1.5em;
    max-width: 40em;
    margin: auto auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.icon {
    float:left;
    margin-right:0.5em;
    margin-bottom:0.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position: relative;
    width:3em;
    height:3em;
}
.icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.date {
    margin-top:0.3em;
    font-weight:bold;
}

#attribution {
    font-size: 0.8em;
    font-family:'Trebuchet MS',serif;
}