<head>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NYC Microseasons</title>
</head>

<body>
  <div class="navbar">
    {% for s in seasons %}
    <div class="nav-item" id="{{s.id}}" onclick="nav(event)">
     {{s.start_date}}
    </div>
    {% endfor %}
  </div>

  <div class="container" id="container">
    <div class="icon">
      <img src="{{season.image}}" id="img"> 
      </div>
    <div class="date" style="margin-top:0.8em;">Micro-season: <br>
      <div id="start_date" style="display:inline">{{season.start_date}}</div> to <div id="end_date" style="display:inline">{{season.end_date}}</div>
    </div>
    <br>
    <div id="content">
      {{season.description}}
    </div>
    <br>
    <div id="attribution">This site displays New York City micro-seasons compiled by <a href="https://mcgolrickbirdclub.substack.com">McGolrick Bird
        Club</a>. For more about micro-seasons, read about the 72 Japanese micro-seasons <a href="https://kyotojournal.org/uncategorized/the-72-japanese-micro-seasons/">here</a>.
    </div>



    <script>
      function nav(event) {
        $(".nav-item").click(function (event) {
          $('#' + event.target.id).css("color","#551A8B");
          $.ajax({
            type: 'GET',
            url: "/get",
            data: { 'id': event.target.id },
            dataType: "text",
            success: function (response) {
              // process on data
              const obj = JSON.parse(response);
              $("#content").html(obj.description);
              $("#start_date").html(obj.start_date);
              $("#end_date").html(obj.end_date);
              $("#img").attr("src",obj.image);
              console.log(obj.start_date);

            }
          });
        });
      }
    </script>
</body>
<footer>

</footer>